@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

body {
    font-family: sans-serif;
    background-color: #b5d2d3;
}

.container {
    width: 500px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-top: 100px;
}

h5 {
    text-align: center;
    font-size: 16px;
    margin-bottom: 0;
}

.form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#submit {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.result {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.result p {
    margin-bottom: 5px;
}
